body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.cyan-bg{
  /* background-color: #00bcd4 !important; */
  /* background-color:#f5f5f5; */
  background-color: #2f3136;
}


.card__zoom {
  transition: transform .5s;
}
.card__zoom::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  content: '';
  opacity: 0;
  z-index: -1;
}
.card__zoom:hover, .card__one:focus {
  transform: scale3d(1.006, 1.006, 1);
  cursor: pointer;
}
.card__zoom:hover::after, .card__one:focus::after {
  opacity: 1;
}

.addform .breadcrumb {
  background: bottom !important;
  padding-left:0px;
}

.addWrite-wrapper{
  border: 1px solid #d2cfcf;
  margin-bottom: 10px;
}

.addWrite-editor{
  height: 300px !important;
}

.addcontent-wrapper{
  border: 1px solid #d2cfcf;
  margin-bottom: 10px;
}

.addcontent-editor{
  height: 500px !important;
}


.addShadow{
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}

.imgBlurCenter{
  position: inherit;
 
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.imgBlurWidget {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.imgBlur {
  /* background: url('https://images.unsplash.com/photo-1486723312829-f32b4a25211b?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=&bg=') no-repeat center center fixed; */
  background-size: cover;
  overflow: hidden;
  filter: blur(13px);
  position: absolute;
  height: 500px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.breadcrumb-item a:hover{
  cursor: pointer;
}


.btnSearch {
  /* float: left; */
  float:none !important;
    display:inline-block !important;
  padding: 3px 10px;
  border: 2px solid #197c6b;
  border-left: 0px;
  background-color: #197c6b;
  color: #fafafa;
  height: 32px;
  top: -0.5px;
  margin-left: -5px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.btnSearch:hover  {
  cursor: pointer;
}

.SearchInput input[type=text] {
   /* float: left; */
   float:none !important;
    display:inline-block !important;
   width: 80%;
   box-sizing: border-box;
   border: 1px solid #197c6b;
   /* border-right: 5px solid #509c84;
    border-left: 2px solid #509c84;
    border-top: 2px solid #509c84;
    border-bottom: 2px solid #509c84;
     */
   border-radius: 4px;
   font-size: 12px;
   background-color: white;
   /* background-image: url('searchicon.png'); */
   background-position: 10px 10px; 
   background-repeat: no-repeat;
   padding: 6px;
   -webkit-transition: width 0.4s ease-in-out;
   transition: width 0.4s ease-in-out;
}

.SearchInput input[type=text]:focus {
  
   outline: none;
}

.mainMenu.navbar-dark .navbar-nav .nav-link {
  color: #197c6b;
}
.mainMenu.navbar-dark .navbar-nav .nav-link:hover {
  color: #093e35;
}

.mainMenu.navbar-dark .navbar-nav .nav-link.active {
  color: #093e35;
  font-weight: 800;
}

.account.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.account.navbar-dark .navbar-nav .nav-link:hover {
  color: #555;
}

.vdivide {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:10px;
  bottom: 0;
  left: 100px;
  min-height: 40px;
}


@font-face {
  font-family: ExampleFont;
  src: url(/static/slick/fonts/slick.woff) format('woff'),
       url(/static/slick/fonts/slick.eot) format('eot');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

.rwt__tabs[data-rwt-vertical="true"] {
  display: flex;
}

.rwt__tablist:not([aria-orientation="vertical"]) {
	border-bottom: 1px solid #ddd;
}

.rwt__tablist[aria-orientation="vertical"] {
  display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	border-right: 1px solid #ddd;
	margin-right: 1rem;
}

.rwt__tab {
	background: transparent;
	border: 0;
	font-family: inherit;
	font-size: inherit;
	padding: 1rem 2rem;
  transition: background 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.rwt__tab[aria-selected="false"]:hover,
.rwt__tab:focus {
  outline: 0;
  background-color: #f4f4f4;
	background-color: rgba(0,0,0,0.05);
}

.rwt__tab[aria-selected="true"] {
	position: relative;
}

.rwt__tab[aria-selected="true"]:after {
	content: '';
	position: absolute;
}

.rwt__tablist:not([aria-orientation="vertical"]) .rwt__tab[aria-selected="true"]:after {
  bottom: -1px;
	left: 0;
	width: 100%;
	border-bottom: 3px solid #00d8ff;
}

.rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
  right: -1px;
  top: 0;
  height: 100%;
  border-right: 3px solid #00d8ff;
}


.err-rw-widget-container{
  border:1px solid red !important;
}

.breadcrumb{
  background-color: unset;
  margin:10px 0 0 0;
}

.productOnCard:hover{
  cursor: pointer;
}

.mainContent{
  margin-bottom: 100px;
}


/*=============*/
/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
  font-size: 25px;
  padding: 7px 0 7px 0;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 30px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #797b82;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
